.hero-header {
    font-family: 'Fraunces';
}

.hero-name {
    font-family: 'Fraunces';
    background: -webkit-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-family: 'Fraunces';
    text-align: center;
}

.navbar-brand {
    font-family: 'Fraunces';
}

body {
    font-family: 'Commissioner';
}

#hero {
    height: 100vh;
}

/* .cta {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border-radius: 25px;
    border-style: none;
    text-decoration: none;
}

.cta:hover {
    background: linear-gradient(90deg, rgba(252,176,69,1) 0%, rgba(253,29,29,1) 50%, rgba(131,58,180,1) 100%);
} */

#about-me {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    min-height: 100vh;
    padding-bottom: 200px;
}

.diagonal {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    padding-top: 50px;
}

#my-work {
    min-height: 100vh;
}

.project-card {
    width: 85%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.project-image-container {
    width: 600px;
    height: auto;
}

.project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gh-link {
    text-decoration: none;
    background-image: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gh-link:hover {
    font-size: 18px;
}

#contact-me {
    -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  height: 60vh;
}

#footer {
    height: 25vh;
}

.my-social-icon {
    color: white !important;
}

.contact-btn {
    text-decoration: none;
    border-style: solid;
    border-radius: 10px;
}

.about-me-container {
    max-width: 350px;
    max-height: 350px;
    width: 50vw;
    height: 50vw;
}

.about-me-pic {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.my-nav {
    color: #212529;
}

.my-nav:hover {
    color: #212529;
    text-decoration: underline;
}








.cta {background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%)}
.cta {

   padding: 15px 45px;
   text-align: center;
   text-decoration: none;
   transition: 0.5s;
   background-size: 200% auto;           
   border-radius: 10px;
 }

 .cta:hover {
   background-position: right center; /* change the direction of the change here */
   text-decoration: none;
 }

 .about-me-text {
     text-align: left;
 }

 h3 {
     text-align: left;
 }